# SIP / UDP
listen=udp:ASFRONT_IP:5060
# SIP / TCP
listen=tcp:ASFRONT_IP:5060

#!define NETWORKNAME "IMS_DOMAIN"
#!define NETWORKNAME_ESC "IMS_SLASH_DOMAIN"
#!define HOSTNAME "asfront.IMS_DOMAIN"
#!define HOSTNAME_ESC "asfront\.IMS_SLASH_DOMAIN"
#!define URI "sip:asfront.IMS_DOMAIN:5060"

alias=asfront.IMS_DOMAIN

# La Frontera no necesita base de datos: es un relay ISC->SIP plano hacia FreeSWITCH.
##!define DB_URL "mysql://scscf:heslo@MYSQL_IP/scscf"